<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
<h2>Exam</h2>

<table>
  <tr>
    <th>Question</th>
    <th>first_option</th>
    <th>Second_option</th>
    <th>Third_option</th>
    <th>Fourth_option</th>
    <th>Correct_option</th>
  </tr>
  <%@questions.each do |question|%>
  <tr>
    <td><%=question.question%></td>
    <td><%=question.first_option%></td>
    <td><%=question.second_option%></td>
    <td><%=question.third_option%></td>
    <td><%=question.fourth_option%></td>
    <td><%=question.correct_option%></td>
  </tr>
  <%end%>
</table>